<% include partials/header %>

<div class="container my-5">

    <section class="team-section pb-5">

    <!--Section heading-->
    <h2 class="h1 text-center py-5">Who you voted for</h2>

    <!-- Grid row -->
    <div class="row text-center">

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja4.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.chairman%></strong>
                </h5>
                <p class="grey-text">Chairman</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.chairlady%></strong>
                </h5>
                <p class="grey-text">Chairlady</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja2.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.secretary%></strong>
                </h5>
                <p class="grey-text">Secretary</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja3.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.academic_rep%></strong>
                </h5>

                <p class="grey-text">Academic Rep.</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja4.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.clubs_rep%></strong>
                </h5>

                <p class="grey-text">Clubs & Societies Rep.</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.entertainment_rep%></strong>
                </h5>

                <p class="grey-text">Entertainment Rep.</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja2.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.it_rep%></strong>
                </h5>

                <p class="grey-text">IT Rep.</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja3.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.sports_rep%></strong>
                </h5>

                <p class="grey-text">Sports Rep.</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja4.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.wellness_rep%></strong>
                </h5>

                <p class="grey-text">Wellness Rep.</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.treasurer%></strong>
                </h5>

                <p class="grey-text">Treasurer</p>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja2.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong><%=user.honor_council%></strong>
                </h5>

                <p class="grey-text">Honor Council</p>

            </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>

</div>

<% include partials/footer %>